.parallax-wrap
    #parallax.parallax
        - for (var i = 7; i >= 1; i-- )
            .parallax__layer
                img(src=`assets/images/parallax/layer_0${i}.png`, alt=`parallax_layer0${i}`, class = `parallax-image__layer0${i} parallax-image`)
            //- .parallax__layer(style=`background-image:url(/assets/images/parallax/layer_0${i}.png)`, class = `parallax-image__layer0${i} parallax-image`)
        